<header class="header{% if header.admin %} header--admin{% endif %}">
    <div class="container-fluid">
        <h1 class="header__title"><a href="/">{{ app.config.get('APP_NAME') }}</a></h1>

        <nav class="header__navigation">
            <ul>
                {% if header.admin %}
                    {% include 'includes/header/admin/actions.html.twig' %}
                {% else %}
                    {% include 'includes/header/actions.html.twig' %}
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
