<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{{ app.config.get('APP_NAME') }}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/app.css?v={{ app.config.get('APP_VERSION_NUMBER') }}">
    {% endblock %}
</head>
<body>
    {% block body %}
        Hello World!
    {% endblock %}

    <script src="/static/js/app.js?v={{ app.config.get('APP_VERSION_NUMBER') }}"></script>
</body>
</html>
