// Variables
@import '../base/variables';

// Scope
$scope: 'page';

.#{$scope} {
  .content-wrapper {
    margin-top: 75px;
  }
}

@media only screen and (max-width: 580px) {
  .#{$scope} {
    .content-wrapper {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
