// Variables
@import '../base/variables';

// Scope
$scope: 'page--home';

.#{$scope} {
  .content-wrapper {
    margin-top: $page-margin-top;
  }

  .header__title {
    display: none;
  }

  .sub-header {
    text-align: center;
    margin-bottom: 35px;

    a {
      text-decoration: none;
      display: inline;
    }

    img {
      height: 110px;
      width: 110px;
      border-radius: 50%;
      margin: 20px 0;
    }

    h1,
    h2 {
      font-weight: 300;
    }

    h1 {
      font-size: 3.8em;
      color: $color-blue-grey;
      margin: 10px 0;
    }

    h2 {
      font-size: 2em;
      color: rgba($color-blue-grey, 0.5);
    }

    hr {
      margin: 30px 0;
    }
  }
}
