// Variables
@import '../base/variables';

// Scope
$scope: 'page--stats';

.#{$scope} {
  .bar-chart-container {
    max-height: 300px;
  }

  h2,
  h3,
  h4 {
    font-weight: 400;
  }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.5em;
  }
}
