@import '../base/variables';

// Scope
$scope: 'blog-pagination';

.#{$scope} {
  font-size: 1.4em;
  text-align: center;
  overflow: hidden;
  color: rgba($color-blue-grey, 0.4);
  margin: 75px 0 25px;
  position: relative;

  &__page-number {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
  }

  &__newer-posts,
  &__older-posts {
    z-index: 1;
    position: relative;
  }

  &__newer-posts {
    float: left;
  }

  &__older-posts {
    float: right;
  }
}

@media only screen and (max-width: 380px) {
  .#{$scope} {
    &__newer-posts &,
    &__older-posts & {
      &__link-text {
        display: none;
      }
    }
  }
}
