@import '../base/variables';

// Scope
$scope: 'blog-pagination';

.#{$scope} {
  font-size: 1.4em;
  text-align: center;
  overflow: hidden;
  color: rgba($color-blue-grey, 0.4);

  &__newer-posts {
    float: left;
  }

  &__older-posts {
    float: right;
  }
}
