@import '../base/variables';

$scope: 'footer';

.#{$scope} {
  color: rgba($color-blue-grey, 0.4);
  font-size: 1.4em;
  line-height: 2;
  padding: 65px 0;

  .fa-heart {
    color: $color-red-matte-light;
    margin-left: 2px;
  }

  a,
  a:hover {
    color: inherit;
  }
}

@media only screen and (max-width: 580px) {
  .#{$scope} {
    padding: 25px 0 25px;
    background: rgba($color-blue-grey, 0.02);
    border-top: 1px solid rgba($color-blue-grey, 0.05);
  }
}
