@import '../base/variables';

$scope: 'footer';

.#{$scope} {
  color: rgba($color-blue-grey, 0.4);
  font-size: 1.4em;
  line-height: 2;
  padding: 65px 0;

  .fa-heart {
    color: $color-red-matte-light;
    margin-left: 2px;
  }
}
