@import '../base/variables';

$scope: 'header';

.#{$scope} {
  padding: 30px 25px;
  overflow: hidden;

  &__title {
    font-weight: 300;
    font-size: 2.4em;
    float: left;
    display: inline-block;
    margin: -7px 0 0;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__navigation {
    float: right;
    display: inline-block;
    font-size: 1.3em;
    margin-right: -13px;

    &__item {
      display: inline-block;

      &--active & {
        &-link {
          background: $color-red;
          color: $color-white;
        }
      }
    }

    &__item-link {
      color: $color-blue-grey;
      text-decoration: none;
      padding: 8px 14px;
      border-radius: 3px;
    }
  }

  &--admin {
    padding-left: 0;
    padding-right: 0;
  }

  &--admin & {
    &__navigation {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: $container) {
  .#{$scope} {
    padding-left: 0;
    padding-right: 0;

    &__navigation {
      margin-right: 0;
    }
  }
}
