// Variables
@import '../../base/variables';

// Scope
$scope: 'page--admin';

.#{$scope} {
  .content-wrapper {
    p,
    .table {
      font-size: 1.4em;
    }

    .table {
      .button {
        font-size: 0.85em;
        padding: 7px 14px;
      }
    }
  }
}
