/.idea
/.env
/.build-*
/.version
/.vscode
/package-lock.json
/composer.phar
/composer-setup.php
/vendor
/node_modules
/docker/data
/public/static
/public/sitemap.xml
/public/robots.txt
/public/rss.xml
/storage/logs
/storage/media
