@import 'variables';

blockquote {
  border-left: 5px solid #eee;
  padding: 2px 16px;
  font-style: italic;
  color: #888;
}

pre,
code {
  font-size: inherit;
  font-family: $font-family-code;
}

code {
  font-family: $font-family-code;
  background: #F8F8F8;
  line-height: 1.8em;
}

pre p {
  display: none;
}

pre code {
  display: block;
  margin-bottom: 15px;
  padding: .75em 1em;
  overflow: scroll;
  font-size: 1.2em;

  &.hljs {
    padding: .75em 1em;
  }
}

p code {
  background: #F7F7F9;
  border: 1px solid #E1E1E8;
  color: #CA2657;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 0.8em;
}
