// Fonts
$font-family: 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;
$font-family-code: Hack, Consolas, Monaco, 'Andale Mono', monospace;

// Container
$container: 768px;
$container-lg: $container;
$container-md: $container;
$container-sm: $container;

// Colors - base
$color-white: #fff;
$color-black: #000;
$color-gray: #434b50;

// Colors - tints
$color-tint-red: #ed1c24;
$color-tint-blue-gray: #293750;

// Colors - specific
$color-background: $color-white;
$color-text: $color-gray;

