// Reset
@import 'base/reset';

// Variables
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'base/variables';

// Vendors
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import '~flatpickr/dist/flatpickr';
@import '~simplemde/dist/simplemde.min';
@import '~highlight.js/styles/github';

// Base styles
@import 'base/utilities';
@import 'base/fonts';
@import 'base/forms';
@import 'base/markdown';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/media';
@import 'components/blog-post-item';
@import 'components/blog-post-item-list';

// Pages
@import 'pages/base';
@import 'pages/home';
@import 'pages/about';
@import 'pages/blog/detail';
@import 'pages/admin/base';
@import 'pages/admin/blog/index';
@import 'pages/admin/blog/post';
@import 'pages/admin/media/index';
@import 'pages/admin/media/add';
@import 'pages/admin/users/sign-in';
@import 'pages/admin/users/sign-up';
@import 'pages/admin/users/index';

body {
  background: $color-background;
  color: $color-text;
}

::selection {
  color: $color-white;
  background: $color-black;
}

a {
  color: $color-red;
  text-decoration: none;

  &:hover {
    color: $color-blue-grey;
  }
}

hr {
  background: rgba($color-blue-grey, 0.12);
  height: 1px;
  border: 0;
}

.emoji {
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.05em !important;
  vertical-align: -0.1em !important;
}
