{% extends '_base.html.twig' %}

{% block title %}Admin - {{ app.config.get('APP_NAME') }}{% endblock %}
{% block opengraph %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="h2">Overview</h2>
        <p>Todo.</p>
    </div>
{% endblock %}
