{% extends '_base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Admin - Sign in</h2>
        <p>
            To get access to the admin zone you need to be signed in.
        </p>

        <form class="container-fluid form" role="form" method="post" action="">
            <div class="row">
                <div class="col-sm-6 input-wrapper">
                    <label for="email" class="label">Email address</label>
                    <input type="text" id="email" name="email" class="input">
                </div>
                <div class="col-sm-6 input-wrapper">
                    <label for="password" class="label">Password</label>
                    <input type="text" id="password" name="password" class="input">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 input-wrapper">
                    <button type="submit" class="input button" disabled data-loader="true">
                        <span class="button__text">Sign in</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
