// Variables
@import '../../../base/variables';

// Scope
$scope: 'page--admin--media--index';

.#{$scope} {
  .h2 {
    &__action {
      font-size: 0.8em;

      a {
        text-decoration: none;
      }
    }
  }

  .actions {
    a:not(.hidden) {
      margin-right: 5px;
    }
  }

  .image-preview-container {
    position: relative;
  }

  .image-preview {
    position: absolute;
    top: 0;
    right: -320px;
    width: 320px;
    z-index: 1;
  }
}
