{% extends '_base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2>Admin - Sign Up</h2>
        <p>
            Before you can sign in and use your account it will be reviewed first and need to be activated.
        </p>

        <form class="container-fluid form" role="form" method="post" action="{{ app.router.pathFor('admin.users.sign-up_post') }}">
            <div class="row">
                <div class="col-sm-6 input-wrapper">
                    <label for="name" class="label">Name</label>
                    <input type="text" id="name" name="name" class="input">
                </div>
                <div class="col-sm-6 input-wrapper">
                    <label for="email" class="label">Email address</label>
                    <input type="email" id="email" name="email" class="input">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 input-wrapper">
                    <label for="password" class="label">Password</label>
                    <input type="password" id="password" name="password" class="input">
                </div>
                <div class="col-sm-6 input-wrapper">
                    <label for="passwordVerification" class="label">Password verification</label>
                    <input type="password" id="passwordVerification" name="passwordVerification" class="input">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 input-wrapper">
                    <button type="submit" class="input button" disabled data-loader="true">
                        <span class="button__text">Sign Up</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
