// Reset
@import '../base/reset';

// Variables
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../base/variables';

// Vendors
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';

// Base styles
@import '../base/utilities';
@import '../base/fonts';

// Components
@import '../components/header';
@import '../components/footer';

// Pages
@import '../pages/base';
@import '../pages/about';

body {
  background: $color-background;
  color: $color-text;
}

::selection {
  color: $color-white;
  background: $color-black;
}

a {
  color: $color-red;
  text-decoration: none;

  &:hover {
    color: $color-blue-grey;
  }
}

hr {
  background: rgba($color-blue-grey, 0.12);
  height: 1px;
  border: 0;
}

.container-fluid,
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.footer {
  padding: 65px 25px;
}
