@import 'variables';

.form {
  margin: 15px -5px;

  .form-wrapper {
    padding: 15px 5px;
  }

  .label {
    font-size: 1.5em;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: rgba($color-tint-blue-gray, 0.8);
  }

  .input,
  .button {
    appearance: none;
    font-size: 1.5em;
    line-height: 1.4;
    font-family: $font-family;
  }

  .input {
    opacity: 1;
    padding: 10px 15px;
    background: rgba($color-tint-blue-gray, 0.03);
    border: 0;
    border-bottom: 1px solid rgba($color-tint-blue-gray, 0.06);
    display: block;
    width: 100%;
    max-width: 100%;
    color: rgba($color-tint-blue-gray, 0.5);
    border-radius: 3px;
    transition: color 150ms ease-in-out, border-color 150ms ease-in-out, background 150ms ease-in-out;

    &-focused,
    &:focus {
      color: rgba($color-tint-blue-gray, 0.7);
      background: rgba($color-tint-blue-gray, 0.04);
      border-bottom-color: rgba($color-tint-blue-gray, 0.12);
    }
  }
}

.button {
  text-decoration: none;
  vertical-align: top;
  color: $color-white;
  background: $color-tint-blue-gray;
  border: 0;
  border-radius: 3px;
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  line-height: normal;
  cursor: pointer;

  &[disabled] {
    background: rgba($color-tint-blue-gray, 0.35);
    cursor: not-allowed;
    pointer-events: none;
  }

  &:not([disabled]) {
    &:hover {
      background: rgba($color-tint-blue-gray, 0.9);
    }

    &:focus,
    &:active {
      background: $color-tint-blue-gray * 0.9;
      color: $color-white;
    }
  }
}
