// Variables
@import '../../base/variables';

// Scope
$scope: 'page--blog--detail';

.#{$scope} {
  .header__title,
  .header__navigation__item-link {
    &,
    &:hover {
      color: $color-white;
    }
  }

  &__header {
    padding-top: 65vh;
  }

  &__body {
    ul {
      @extend .default-text;

      li {
        list-style: disc inside;
      }
    }
  }

  &__cover-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;

    img {
      width: 1px;
      height: 1px;
      opacity: 0;
    }

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background: linear-gradient(rgba($color-black, 0.4), transparent 50%) rgba($color-black, 0.4);
    }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__title {
    font-weight: 300;
    text-align: center;
    font-size: 3.6em;
    margin-bottom: 35px;
  }

  &__time {
    font-size: 1.4em;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: rgba($color-blue-grey, 0.3);
    text-align: center;
    display: block;
    margin-bottom: 50px;
  }

  &__author {
    display: none;
  }

  h2,
  h3,
  h4 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: 400;
  }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.9em;
  }

  h4 {
    font-size: 1.6em;
    font-weight: 500;
  }
}
