{% extends '_base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2 class="h2">Media - Add</h2>

        <p>When the label is left blank we will use title of the video link or the filename of the file.</p>

        <form class="container-fluid form" role="form" enctype="multipart/form-data" method="post" action="{{ app.router.pathFor('admin.media.add_post') }}" data-redirect="{{ app.router.pathFor('admin.media') }}">
            <div class="row">
                <div class="col-sm-6 input-wrapper">
                    <label for="label" class="label">Label (leave blank to use default)</label>
                    <input type="text" id="label" name="label" class="input">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 input-wrapper">
                    <label for="link" class="label">Video link</label>
                    <input type="text" id="link" name="link" class="input">
                </div>
                <div class="col-sm-6 input-wrapper">
                    <label class="label">File</label>
                    <input type="file" id="file" name="file[]" class="input input--file" multiple>
                    <label for="file" class="label input-file-placeholder">
                        <span data-id="placeholder" class="input-file-placeholder__placeholder"></span>
                        <span class="input-file-placeholder__label">Choose a file..</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 input-wrapper">
                    <button type="submit" class="input button" disabled data-loader="true">
                        <span class="button__text">Upload</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
